doctype html

mixin codeblock(title, type)
	.codeblock
		.codeblocktitle= title
		.codeblocktype= type
		block

html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='/javascripts/highlight.js')
		block theme

	body
		.navContainer
			.navLogoBlock
			.navHeading Introduction
			.navLink
				a(href='/plang/index') Getting Started
			.navLink 
				a(href='/plang/overview') Overview
			.navLink 
				a(href='/plang/lexer') Lexer
			.navLink 
				a(href='/plang/parser') Parser
			.navHeading Specification
			.navLink
				a(href='/plang/blocks') Blocks
		.contentContainer
			block content
